name: Pull Changes from Template

on:
  schedule:
    - cron: "20 18 * * *"
  workflow_dispatch:

concurrency:
  group: template-sync
  cancel-in-progress: false

jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: actions-template-sync
        uses: AndreasAugustin/actions-template-sync@v2
        with:
          source_repo_path: j-hc/revanced-magisk-module

          
