name: Pull Changes from j-hc/revanced-magisk-module

on:
  schedule:
    - cron: "0 18 * * *"
  workflow_dispatch:

jobs:
  template-sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Sync with Template Repository
        uses: AndreasAugustin/actions-template-sync@v2
        with:
          source_repo_path: j-hc/revanced-magisk-module


          
